.myFeedPage {
    background-image: url("../pictures/feedbg.png");
    width: 100vw;
    height: 100vh;

}

.myFeedPage h4 {
    display: flex;
    justify-content: center;
}
.myFeedPage h3 {
    display: flex;
    justify-content: flex-end;
}

.feedContainer {
    border: 2px solid black;
    width: 80vw;
    height: 70vh;
    margin-left: 10vw;
    background: white;
}

.myFeedHeader{
    display: flex;
    justify-content: space-between;
    margin-right: 3%;
}
.myFeedHeader h1{
    color: #5688ff;
    font-size: 3rem;
}
.myFeedHeader h3{
    margin-top: 7%;
}

.myFeedPage h4{
    font-size: 3em;
    margin-top: 4%;
}

.feedSection{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    align-items: flex-start;
}
.feedTitle{
    font-size: 2rem;
    text-decoration: underline;
    font-weight: bold;
}
.feedDescription{
font-size: 1.5rem;
}