.bucketListPage{
    background-image: url("../pictures/profilebg.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.bucketListHeader{
    color: #5688ff;
    font-weight: bold;
    font-size: 3rem;
    margin-left: 1%;
}

.bucketHeader{
    display: flex;
    justify-content: center;
    /* margin-top: 8vh; */
    align-items: flex-start;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 2%;
}

.bucketlistContainer{
    background: white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    
    position: absolute;
    left: 20%;
    top: 15%;
    height: 70vh;
    border-radius: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bucketlist form {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-evenly;
}
.inputTitle input{
    width: 30vw;
    height: 5vh;
    border-radius: 9px;
    text-align: center;
    color: #848484;
    border: 2px solid #C4C4C4;
}

button{
    font-size: 2em;
}

.inputAdd button{
    border-radius: 50%;
    font-size: 3em;
    height: 4vw;
    width: 4vw;
    background-color: #5688FF;
    color: white;
    display: flex;
    align-content: center;
    align-items: flex-end;
    justify-content: center;
}
#dropdown-basic{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    color: #848484;
    width: 15vw;
    height: 3.4vw;
}

 .hrtag{
    border: 3px solid #CCD4E7;
    border-radius: 5px;
    width: 8vw;
 }