
.bucketListPage{
    background-image: url("../pictures/profilebg.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.bucketListHeader{
        color: #5688ff;
        font-weight: bolder;
        /* font-size: 3rem; */
        margin-left: 1%;
        display: flex;
        justify-content: space-between;
        margin-right: 1.5%;
    
    }
.bucketListHeader h2{
    color: #5688ff;
    font-size: 1.6em;
}

.bucketHeader{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 2rem;
    font-weight: 800;
    margin-top: 2%;
}

.bucketlistContainer{
    background: white;
    width: 90vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 5%;
    top: 10%;
    height: 85vh;
    border-radius: 16px;
    box-shadow: 4px 4px 4px rgb(0 0 0 / 25%);
}

.bucketlist form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.inputTitle input{
    width: 75vw;
    height: 5vh;
    border-radius: 16px;
    text-align: center;
    color: #848484;
    border: 2px solid #C4C4C4;
    margin: 1vw;
}


.inputAdd button{
    border-radius: 16px;
    font-size: 1.5em;
    height: 4vh;
    width: 40vw;
    background-color: #5688ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
#dropdown-basic{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    color: #848484;
    width: 75vw;
    height: 5vh;
    margin-bottom: 1vw;
}

 .hrtag{
    border: 3px solid #5688ff;
    border-radius: 5px;
    width: 15vw;
 }

 .bucketPic img{
    height: 75%;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 1%;
}
.bucketPic{
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
}

.bucketItem{
    width: 35vw;
    display: flex;
    align-items: center;
    overflow-y: hidden;
    margin-left: 7vw;
}
.bucketLine{
    display: flex;
    height: 10vh;
    width: 80vw;
    border: solid 1px #5688ff;
    border-radius: 16px;
    margin-left: 5vw;
    margin-top: .5rem;
    justify-content: space-around;
   
}
.bucketCheckBox{
    width: 15%;
    display: flex;
    justify-content: center;
    
}
.bucketCheckBox Form{
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

.form-check-input{
    height: 8vh;
    width: 2.5vw
}

.bucketContainer{
    overflow-y: scroll;
    max-height: 45vh;
    margin-top: 1vh;
}

.modal-body input {
    width: 45vw;
    height: 40vh;
}
.modalForm {
    background-color: whitesmoke;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4{
    color: #5688ff;
    font: bolder;
}
.modal form{
    
    height: 40vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem
}

.modal-header{
    background-color:whitesmoke;
    font: black;
}










/* For Desktop */

@media (min-width: 900px) {

.bucketListPage{
    background-image: url("../pictures/profilebg.png");
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-size: cover;
}

.bucketListHeader{
    color: #5688ff;
    font-weight: bold;
    /* font-size: 3rem; */
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    margin-right: 1.5%;

}
.bucketListHeader h2{
    font-size: 1.7rem;
    margin-top: 5%;
    color:#5688ff
}
.bucketListHeader h1{
    font-size: 3.2rem;
}


.bucketHeader{
    display: flex;
    justify-content: center;
    /* margin-top: 8vh; */
    align-items: flex-start;
    font-size: 3rem;
    font-weight: 800;
    margin-top: 2%;
}

.bucketlistContainer{
    background: white;
    width: 60vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20%;
    top: 15%;
    height: 70vh;
    border-radius: 16px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.bucketlist form {
    display: flex;
    flex-direction: row;
    width: 60vw;
    justify-content: space-evenly;
}

.inputTitle input{
    width: 30vw;
    height: 5vh;
    border-radius: 16px;
    text-align: center;
    color: #848484;
    border: 2px solid #C4C4C4;
}


.inputAdd button{
    border-radius: 50%;
    font-size: 3rem;
    height: 40px;
    width: 40px;
    background-color: white;
    color: #5688ff;
    border: none;
    margin-bottom: 1vh;
}


#dropdown-basic{
    background: #FFFFFF;
    border: 2px solid #C4C4C4;
    box-sizing: border-box;
    border-radius: 16px;
    color: #848484;
    width: 18vw;
    height: 5vh;
    margin: 0;
}

 .hrtag{
    border: 3px solid #5688ff;
    border-radius: 5px;
    width: 15vw;
 }

.bucketPic img{
    width: 80%;
    height: 90%;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 1%;
}
.bucketPic{
    width:15%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bucketItem{
    width: 35vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    overflow-y: hidden;
    margin: 0;
}
.bucketLine{
    display: flex;
    height: 8vh;
    width: 50vw;
    box-shadow: 2px 2px #5688ff;
    border-radius: 16px;
    margin-left: 5vw;
    margin-top: .5rem;
   
}
.bucketCheckBox{
    width: 15%;
    display: flex;
    justify-content: center;
}
.bucketCheckBox Form{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.bucketContainer{
    overflow-y: scroll;
    max-height: 45vh;
}
.modal-body input {
    width: 45vw;
    height: 40vh;
}
.modalForm {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.h4{
    color: #5688ff;
    font: bolder;
    
}
.modal form{
    color: #5688ff;
  
    height: 40vh;
    width: 60vw;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem
}

#ModalWhole{
    border-radius: 30%;
}
.modalButton {
    background-color: #5688ff;
    height: 4vh;
    width: 8vw
}
.form-check-input{
    height: 7vh;
    width: 1.5vw
}
}